// @font-face {
//     font-family: 'Bree Serif';
//     src: url('fonts/breeserif_reg.eot');
//     src: url('fonts/breeserif_reg.eot?#iefix') format('embedded-opentype'),
//          url('fonts/breeserif_reg.woff') format('woff'),
//          url('fonts/breeserif_reg.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('fonts/bebasneue_regular.eot');
    src: url('fonts/bebasneue_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_regular.woff') format('woff'),
         url('fonts/bebasneue_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}