/*============================================
=            Header section style            =
============================================*/

.main-header {
  position: relative;
  min-height: em(80);
  background: $white;
}

//для вывавнивания элементов в header
.main-header:before {
  display: inline-block;
  height: 100%;
  min-height: inherit;
  content: '';
  vertical-align: middle;
}

.main-header__logo {
  float: left;
  margin-left: em(180, 20);
}

.main-header__nav {
  float: left;
  margin-left: em(180);
}

.main-header__form {
  display: inline-block;
  margin-left: em(92);
  vertical-align: middle;
}

/*-----  End of Header section style  ------*/



