/*==========  MainNavigation-block styles  ==========*/

.main-nav {
  font-family: $ubuntu-regular;
  font-size: em(14);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  float: left;
  min-height: em(80, 14);
  margin-right: em(12, 14);
  text-align: center;
}

.main-nav__item--active {
  position: relative;
  box-sizing: border-box;
  color: $nav-lightblue;
  border-bottom: em(12, 14) solid $nav-deepblue;
  background: $nav-blue;
  & .main-nav__link {
    cursor: default;
    color: inherit;
    &:hover {
      color: inherit;
      background-color: transparent;
    }
  }
}

.main-nav__item--active:after {
  bottom: 0;
  display: inline-block;
  width: 0;
  height: 0;
  content: '';
  border-width: em(5, 14) em(4, 14);
  border-style: solid;
  border-color: transparent;
  border-top-width: 0;
  border-bottom-color: inherit;
  @include scut-center-transform(x);
}

.main-nav__link {
  line-height: em(25, 14);
  display: inline-block;
  margin-top: em(30, 14);
  padding: 0 em(19, 14);
  transition: all .3s;
  color: $nav-darkgrey;
  border-radius: em(3, 14);
  &:hover {
    color: white;
    background: $button-orange;
  }
}
