
/*================================================
=            Portfolio section styles            =
================================================*/
.portfolio {
  padding: em(50) 0 em(78);
  color: $portfolio-grey;
  background: $bg-darkblue;
}

.portfolio__header {
  height: em(32);
}

.portfolio__title {
  font-family: $bree-serif-regular;
  font-size: em(30);
  font-weight: normal;
  line-height: percentage(32/30);
  float: left;
  margin: 0;
  color: $title-orange;
}

.portfolio__link {
  font-family: $ubuntu-condensed;
  font-size: em(16);
  line-height: percentage(32/16);
  position: relative;
  float: right;
  width: em(90, 16);
  height: 100%;
  transition: all .3s;
  text-align: center;
  color: white;
  border-radius: em(3, 16);
  background: $portfoliobutton-blue;
  &:hover {
    background: darken($portfoliobutton-blue, 20%);
  }
  &:active {
    top: 2px;
  }
}

.portfolio__body {
  margin-top: em(65);
  @include scut-clearfix;
}

.portfolio__item {
  float: left;
  width: percentage(282/920);
  margin-right: em(37);
  &:last-of-type {
    margin-right: 0;
  }
}

.case__figure {
  margin: 0;
  padding: 0;
}

.figure {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  max-width: em(282);
  max-height: em(220);
  transition: all .35s;
  border: em(9) solid white;
}

.figure:hover {
  opacity: .7;
  border: em(9) solid $bg-grey;
}

.figure__img {
  width: 100%;
  transition: opacity .35s, transform .35s;
  transform: scale(1.15);
  opacity: .7;
}

.figure:hover img {
  transform: scale(1);
  opacity: .5;
}

.figure__caption {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: em(140);
  height: em(40);
  margin: auto;
  transition: opacity .35s, transform .35s;
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
  border: 1px solid white;
  border-radius: em(5);
}

.figure:hover .figure__caption {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
}

.figure__link {
  font-family: $bree-serif-regular;
  font-size: em(17);
  line-height: em(40, 17);
  position: relative;
  display: block;
  padding-left: em(60, 17);
  color: white;
}

.figure__link:before {
  position: absolute;
  top: em(9);
  left: em(12);
  width: em(35);
  height: em(23);
  content: '';
  @include sprite(-164px, -69px, 23px, 35px);
}

.case__title {
  font-family: $bree-serif-regular;
  font-size: em(17);
  font-weight: normal;
  margin: em(16, 17) 0 em(6, 17);
  text-align: left;
  color: $title-orange;
}

.case__desc {
  font-family: $ubuntu-regular;
  font-size: em(11);
  line-height: percentage(15/11);
  margin: 0;
}


/*-----  End of Portfolio section styles  ------*/

