/*==========  Projects-block styles  ==========*/

.projects {
  width: em(214);
}

.project {
  @include scut-clearfix;
  @extend %single-post;
  &:last-child {
    border: none;
  }
}

.project__body {
  float: right;
  width: em(144);
}

.project__img {
  float: left;
  margin-top: em(4);
}

.project__text, .project__link, .project__time {
  @extend %single-line;
}
