.search {
  font-family: $ubuntu-regular;
  font-size: em(13);
}

input.search__input {
  box-sizing: border-box;
  width: em(36, 13);
  height: em(36, 13);
  padding: em(9, 13) em(10, 13) em(9, 13) em(36, 13);
  padding-left: em(10, 13);
  cursor: pointer;
  transition: all .5s;
  color: transparent;
  border: 0;
  border-radius: 10em;
  background-color: $button-orange;
  @include sprite(-76px, -110px, 36px, 36px);
}

input.search__input:focus {
  width: em(150, 13);
  padding-left: em(36, 13);
  cursor: auto;
  color: #fff;
  outline: 0;
}
