/*===================================================
=            Testimonials section styles            =
===================================================*/

.testimonials {
  padding-top: percentage(28/1280);
  background: $bg-grey;
}

.testimonials__title {
  font-family: $bebas-regular;
  font-size: em(34);
  line-height: percentage(40/40);
  margin: 0;
  margin-bottom: em(30, 40);
  text-align: center;
  letter-spacing: em(1.7, 34);
  text-transform: uppercase;
  color: $title-blue;
}

.testimonials__slider, {
  max-width: em(1280);
}

.testy-slider {
  position: relative;
  overflow: hidden;
  min-height: em(250);
}

.testy-slider__wrapper {
  position: relative;
  width: 100%;
  min-height: em(130);
}

.testy-slider__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 500ms linear;
  opacity: 0;
}

.testy-slider__slide:first-child {
  opacity: 1;
}

.testy-slider__text {
  font-family: $bree-serif-regular;
  text-align: center;
}

.testy-slider__quote {
  font-size: em(25);
  line-height: percentage(30/25);
  display: block;
  max-width: em(774, 25);
  margin: 0 auto;
  margin-bottom: em(56, 25);
  color: $featuretext-grey;
}

.testy-slider__person {
  font-size: em(14);
  line-height: percentage(15/14);
  display: block;
  max-width: em(774, 14);
  margin: 0 auto;
  color: $title-orange;
}

.testy-slider__nav {
  width: 211px;
  height: 90px;
  margin: em(30) auto 0;
}

.testy-nav-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

a[data-class='testy-slider__link'] {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  display: inline-block;
  width: 67px;
  height: 69px;
  text-align: center;
  text-decoration: none;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -81px;
}

span.line {
  position: absolute;
  bottom: 0;
  width: 67px;
  height: 6px;
  background-color: $line-grey;
}

a[data-slide='0'], a[data-slide='0'] + span {
  left: 0;
}

a[data-slide='1'], a[data-slide='1'] + span {
  left: 72px;
}

a[data-slide='2'], a[data-slide='2'] + span {
  right: 0;
}

a[data-class='testy-slider__link']:hover + span, .current + span {
  background-color: #f88560;
}

span.line:before {
  position: relative;
  top: -14px;
  display: inline-block;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
  border-width: 5px 4px;
  border-style: solid;
  border-color: transparent;
  border-top-width: 0;
  border-bottom-color: #f88560;
}

a[data-class='testy-slider__link']:hover + span:before, .current + span:before {
  opacity: 1;
}

a[data-class='testy-slider__link']:hover, a[data-class='testy-slider__link'].current {
  background-position: -158px -0;
}

a[data-v='woman'] {
  background-position: -0 -0;
}

a[data-v='woman']:hover, a[data-v='woman'].current {
  background-position: -79px -1px;
}


/*-----  End of Testimonials section styles  ------*/
