/*==========  Twitter-block styles ==========*/

.feed {
  font-size: inherit;
  width: em(219);
  text-align: left;
}

.post {
  @extend %single-post;
  &:last-child {
    border: none;
  }
}

.post__link, .post__text, .post__time {
  @extend %single-line;
}

.post__time {
  display: block;
}
