@mixin sprite($left, $top) {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: $left $top;
}

// .ico_testimonyals_woman 
//   @include spritebox(-0px, -0px, 69px, 67px)

// .ico_testimonyals_woman_color 
//   @include spritebox(-79px, -0px, 69px, 67px)

// .ico_testimonials_men_color 
//   @include spritebox(-158px, -0px, 68px, 67px)

// .ico_testymonials_men 
//   @include spritebox(-0px, -81px, 68px, 67px)

// .ico_contact_smartphone 
//   @include spritebox(-79px, -81px, 37px, 34px)

// .ico_contact_phone 
//   @include spritebox(-201px, -81px, 35px, 29px)

// .ico_contact_mail 
//   @include spritebox(-118px, -81px, 25px, 34px)

// .ico_portfolio-eye 
//   @include spritebox(-160px, -81px, 23px, 35px)

// .ico_search 
//   @include spritebox(-79px, -126px, 20px, 21px)
// }

// @mixin spritebox($left, $top, $height, $width)
//   background-image: url(spritebox-sprite.png)
//   background-repeat: no-repeat
//   background-position: $left $top
//   height: $height
//   width: $width

// .ico_testimonyals_woman 
//   @include spritebox(-0px, -0px, 69px, 67px)

// .ico_testimonyals_woman_color 
//   @include spritebox(-79px, -0px, 69px, 67px)

// .ico_testimonials_men_color 
//   @include spritebox(-158px, -0px, 68px, 67px)

// .ico_testymonials_men 
//   @include spritebox(-0px, -81px, 68px, 67px)

// .ico_contact_smartphone 
//   @include spritebox(-79px, -81px, 37px, 34px)

// .ico_contact_phone 
//   @include spritebox(-121px, -121px, 35px, 29px)

// .ico_contact_mail 
//   @include spritebox(-118px, -81px, 25px, 34px)

// .ico_portfolio-eye 
//   @include spritebox(-160px, -81px, 23px, 35px)

// .ico_search 
//   @include spritebox(-79px, -126px, 20px, 21px)
