$browser-context: 16; // Default

//colors
$white: #fff;      

$nav-blue: #12a3d6;
$nav-deepblue: #0080b7;
$button-orange: #f98561;
$services-blue: #2190c1;
$banner-grey:#adadad;
$bg-grey: #f4f4f4;
$bg-darkblue:#2e3e4f;
$line-grey:#bcbcbc;
//text
$navlogo-grey: #606060;
$nav-darkgrey: #515862;
$nav-lightblue: #c5f4ff;
$bannertext-grey: #cccece;
$buttonlight-yellow: #ffebca;
$featuretex-tgrey: #515862;
$featurelink-blue: #3e9dd1;
$title-orange: $button-orange;
$portfolio-grey: #bcbcbc;
$buttonborder-darkblue: #025568;

$bree-serif-regular: "Bree Serif", serif;
$ubuntu-regular: "Ubuntu", sans-serif;
